nav {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: var(--mat-sys-surface-bright);
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 75%;
}

:host {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background-color: var(--mat-sys-primary-container);
}
