$base-color: red;
$important-color: darkred;
$warning-color: lightpink;
$primary-font: Arial, sans-serif;
$secondary-font: "Lucida Console", monospace;
$box-shadow: -10px 10px 10px 0px;
$radius: 0px;
