$background-color: indianred;
$background-color-hover: darkred;

.hello {
    background-color: $background-color;
    color: black;
    border: 1px solid black;
    transition: transform 0.5s ease;

    &:hover {
        background-color: $background-color-hover;
        color: white;
        transform: scale(1.2);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 1em;
}